<div class="container mt-5">
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <h2 class="style">Delivery Address</h2>
      <form [formGroup]="contactForm">
        <div class="container mt-5">
          <div class="row">
            <div class="col-sm-6 col-lg-6">
              <div class="user-box">
                <span style="color: red;" class="me-1"
                  *ngIf="contactForm.get('fname')?.invalid && contactForm.get('fname')?.touched">
                  <span *ngIf="contactForm.get('fname')?.errors?.['required']" class="formvalidation">*First name
                    required</span>
                  <span *ngIf="contactForm.get('fname')?.errors?.['pattern']" class="formvalidation">*Invalid first name
                    format</span>
                </span>
                <input type="text" name="firstname" formControlName="fname" pattern="[A-Za-z]+" required>
                <label for="firstname">First Name</label>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6">
              <div class="user-box">
                <span style="color: red;" class="me-1"
                  *ngIf="contactForm.get('lname')?.invalid && contactForm.get('lname')?.touched">
                  <span *ngIf="contactForm.get('lname')?.errors?.['required']" class="formvalidation">*First name
                    required</span>
                  <span *ngIf="contactForm.get('lname')?.errors?.['pattern']" class="formvalidation">*Invalid first name
                    format</span>
                </span>
                <input type="text" name="lastname" formControlName="lname" pattern="[A-Za-z]+" required>
                <label for="lastname">Last Name</label>
              </div>
            </div>
          </div>
         <div class="user-box">
            <div class="col-sm-12">
              <input type="text" name="landmark" formControlName="landmark" required>
              <span style="color: red;"
                *ngIf="contactForm.get('landmark')?.invalid && contactForm.get('landmark')?.touched">
                <span *ngIf="contactForm.get('landmark')?.errors?.['required']" class="formvalidation">*Landmark
                  required</span>
              </span>
              <label for="landmark">Landmark</label>
            </div>
          </div>

          <div class="user-box">
            <div class="col-sm-12">
              <input type="text" name="address" formControlName="address" required>
              <span style="color: red;"
                *ngIf="contactForm.get('address')?.invalid && contactForm.get('address')?.touched">
                <span *ngIf="contactForm.get('address')?.errors?.['required']" class="formvalidation">*Address
                  required</span>
              </span>
              <label for="address">Address</label>
            </div>
          </div>
          <div class="user-box">
            <div class="col-sm-12">
              <input type="text" name="email" formControlName="email" required>
              <span style="color: red;" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                <!-- <span *ngIf="contactForm.get('email')?.errors?.['required']" class="formvalidation">*Email required</span> -->
                <!-- <span *ngIf="contactForm.get('email')?.errors?.['email'] && !contactForm.get('email')?.errors?.['invalidDomain']" class="formvalidation">Invalid email format</span> -->
                <span *ngIf="contactForm.get('email')?.errors?.['invalidDomain']" class="formvalidation">Email
                  required(e.g., gmail.com)</span>
              </span>
              <label for="address">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-lg-6">
              <div class="user-box">
                <span style="color: red;" class="me-1"
                  *ngIf="contactForm.get('mobile')?.invalid && contactForm.get('mobile')?.touched">
                  <span *ngIf="contactForm.get('mobile')?.errors?.['required']" class="formvalidation">*Mobile
                    required</span>
                  <span *ngIf="contactForm.get('mobile')?.errors?.['pattern']" class="formvalidation">*Invalid
                    Mobile format</span>
                </span>
                <input type="text" pattern="[0-9]{1,10}" name="mobile" formControlName="mobile" required>
                <label for="mobile">Mobile</label>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6">
              <div class="user-box">
                <span style="color: red;" class="me-1" *ngIf="contactForm.get('pin')?.invalid && contactForm.get('pin')?.touched">
                  <span *ngIf="contactForm.get('pin')?.errors?.['required']" class="formvalidation">*Pin required</span>
                  <span *ngIf="contactForm.get('pin')?.errors?.['pattern']" class="formvalidation">*Pincode must be a
                    number and max of length 6</span>
                </span>
                <input type="text" pattern="[A-Za-z0-9]{6}" name="pin" formControlName="pin" required>
                <label for="pin">Pincode</label>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="d-flex justify-content-center">
          <button [disabled]="contactForm.invalid" class="btn btn-primary" routerLink="/final"
            (click)="onSubmit()">Submit</button>
        </div> -->
      </form>
    </div>
  </div>
</div>